{{ define "sidebar" }}
<nav id="sidebar">
    <h1 class="my-5">
        <a href="/dashboard/" class="logo">
            <img src="/static/img/logo-icon.png" alt="logo"> PFT
        </a>
    </h1>
    <h1>{{.UserData.Name}}</h1>
    <div class="side-content">
        <ul class="list-unstyled components mb-5">
            <li class="menu-item active">
                <a href="/dashboard/"><span class="fa fa-university"></span>Summary</a>
            </li>
            <li class="menu-item">
                <a href="/dashboard/incomes"><span class="fa fa-usd"></span>Income List</a>
            </li>
            <li class="menu-item">
                <a href="/dashboard/expenses"><span class="fa fa-usd"></span>Expenses List</a>
            </li>
            <li class="menu-item">
                <a href="/dashboard/media"><span class="fa fa-upload"></span>Upload Media List</a>
            </li>
            <li class="menu-item">
                <a href="/dashboard/budget"><span class="fa fa-th-large"></span>Budget Plan List</a>
            </li>
        </ul>
    </div>
    <div class="logout-btn">
        <a href="/dashboard/confirm" class="btn btn-outline-light"><i class="fa fa-sign-out me-1"></i>logout</a>
    </div>
    <div class="footer">
        <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
        </p>
    </div>
</nav>
{{ end }}