{{ define "title" }} Income Create {{ end }}
{{ define "pageTtl" }} Income Create {{ end }}
{{ define "content" }}
<div class="create-from">
    <div class="mb-3 required">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3 required">
        <label for="exampleFormControlInput1" class="form-label">Amount</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Upload</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
</div>
<div class="btn-group mt-5">
    <button type="button" class="btn btn-danger me-2">Clear</button>
    <button type="button" class="btn btn-primary">Confirm</button>
</div>
{{ end }}