<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incomes | Details</title>
    {{ template "css" }}
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        {{ template "sidebar" }}
        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <h2 class="mx-2">Income Details</h2>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                </div> 
            </nav>  
            <ul class="list-group list-group-flush rounded mb-3">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Title</div>
                        <div class="col-sm-10"><b>{{.Title}}</b></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Amount</div>
                        <div class="col-sm-10"><b>{{.Amount}}</b></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Description</div>
                        <div class="col-sm-10"><b>{{.Description}}</b></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">File URL</div>
                        <div class="col-sm-10"><b>{{.FileURL}}</b></div>
                    </div>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                <a href="/incomes" class="btn btn-primary me-md-2 action-btn">Back</a>
                <a href="/incomes/edit/{{.ID}}" class="btn btn-warning action-btn">Edit</a>
            </div>
        </div>
    </div>
    {{ template "js" }}
</body>
</html>
