* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #40407a;
  --box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #3e64ff;
  text-decoration: none !important;
  list-style: none !important;
}

a:hover,
a:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

button:hover,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.heading-section small {
  font-size: 18px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  width: 100%;
}

/* custom components */

.list-table_sec {
  max-height: 445px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

#sidebar {
  position: relative;
  min-width: 270px;
  max-width: 270px;
  background: var(--main-color);
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active ul.components .menu-link {
  padding: 10px 0;
  font-size: 24px;
  display: block !important;
}

#sidebar.active ul.components li span {
  display: none;
}

#sidebar.active .logo {
  padding: 10px 0;
}

#sidebar.active .footer {
  display: none;
}

#sidebar .logo {
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#sidebar .logo img {
  padding-bottom: 5px;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar .menu-item {
  list-style: none;
}

#sidebar .menu-link {
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar .menu-link:hover {
  background-color: #fff;
  color: var(--main-color);
}

#sidebar .menu-link span {
  white-space: nowrap;
}

#sidebar .menu-link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991.98px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .menu-link i {
    display: block;
  }

  #sidebar .menu-link span {
    display: none;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.logout-btn {
  text-align: center;
}

#sidebar.active .logout-btn a {
  padding: 4px;
  font-size: 12px;
  margin-bottom: 5px;
}

.detail-sec {
  margin: 0 auto;
  width: 60%;
}

.footer {
  padding: 0 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }

  .footer {
    display: none;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.btn-primary {
  background: var(--main-color);
  border-color: var(--main-color);
}

.btn.btn-primary:hover {
  background: #3e64ff !important;
  border-color: #3e64ff !important;
}

/* data table pagination */

*:focus {
  box-shadow: none !important;
}

.dataTables_info {
  display: none;
}

ul.pagination .page-link {
  color: var(--main-color);
  border: none;
}

.active>.page-link,
.page-link.active {
  color: #fff !important;
  background-color: var(--main-color);
  border: none;
}

td .btn {
  margin: 2px;
}

.action-btn {
  width: 4.14rem;
}

/* input form component */
.required .form-label:after {
  content: "*";
  color: #e84118;
  padding-left: 5px;
}

.auth-container,
.login-container,
.register-container {
  font-family: "Poppins";
  margin: 0 auto;
  padding: 15px 25px;
  border: none;
  box-shadow: var(--box-shadow);
}

.login-container {
  width: 30%;
}

.register-container {
  width: 60%;
}

.auth-container .form {
  padding: 2rem;
}

#check:checked~.login,
#check:checked~.registration {
  display: block;
}

#check {
  display: none;
}

.form header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 40px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 1.3rem;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px var(--main-color);
}

.form a {
  font-size: 16px;
  color: var(--main-color);
  text-decoration: none;
}

.form a:hover,
.signup a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  background: var(--main-color);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.register-container .form input.button {
  width: 50%;
  margin: 0 auto;
}

.form input.button:hover {
  background: var(--main-color);
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup a {
  color: var(--main-color);
  cursor: pointer;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px #3c6382;
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logout-sec {
  width: 30%;
  background: var(--main-color);
}

/* images upload component */
.img-upload,
.upload__box {
  margin-bottom: 20px;
}

.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload__btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 5px;
  line-height: 26px;
}

.upload__btn p {
  margin: 0;
}

.upload__btn:hover {
  background-color: unset;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.upload__box:first-child {
  justify-content: space-between;
}

.select-img {
  padding: 0;
}

.select-expense {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 5px;
  height: 50px;
}

.select-box {
  width: 60%;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 25px;
}

.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}

.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}

.upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.submit-btn {
  display: none;
  margin: 0 auto;
}

.image-showcase {
  border-radius: 5px;
  background: #fff;
  padding: 10px;
}

.img-box {
  height: 150px;
}

.img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media (max-width: 425px) {
  .select-img {
    padding-bottom: 10px;
  }
}

/** Dashboard component **/
/* progress card component */
.oa-box {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.project-info {
  display: flex;
  align-items: center;
  height: 80px;
}

.project-info-left {
  float: left;
  width: 60px;
}

.project-info-left .icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
}

.project-info-right {
  padding-top: 10px;
  float: right;
  width: calc(100% - 60px);
  text-align: right;
}

.project-info-right p {
  margin-bottom: 0;
  font-size: 160%;
}

.bg-light-green {
  background-color: #41ccba;
}

.text-light-green {
  color: #41ccba;
}

.bg-blue {
  background-color: #0099ff;
}

.text-blue {
  color: #0099ff;
}

.text-light-blue {
  color: #2976aa;
}

.bg-light-orange {
  background-color: rgb(255, 99, 132);
}

.text-light-orange {
  color: rgb(255, 99, 132);
}

.bg-light-purple {
  background-color: #a683eb;
}

.text-light-purple {
  color: #a683eb;
}

/* progress circle bar component */
.block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  width: calc(100% - 45px);
  height: calc(100% - 45px);
	border-radius: 50%;
}

.box::before {
	position: absolute;
	content: '';
	width: calc(100% + 28px);
	height: calc(100% + 28px);
	border-radius: 50%;
	border: 1px solid var(--main-color);
}

.box .number {
	margin: 0;
}

.box .number .num,
.box .number .sub {
  color: #fff;
	font-size: 10px;
	font-weight: bold;
}

.dots {
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 2s transform, 2s opacity ease;
}

.dots::after {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 5px;
	left: 50%;
	border-radius: 50%;
	transform: translateX(-50%);
}

#exp-box,
#exp-dot::after {
  background-color: rgb(255, 99, 132);
  box-shadow: 0 0 2px 3px rgb(255, 99, 132);
}

#net-box,
#net-dot::after {
  background-color: #a683eb;
  box-shadow: 0 0 2px 3px #a683eb;
}

.svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: none;
	transform: rotate(-90deg);
}

.circle {
	stroke-width: 5px;
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	transition: 2s stroke-dashoffset;
}

/* user profile component  */
.user-profile,
.noti-sec,
.chart-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
}

.personal-info,
.chart-container {
  height: 100%;
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}

.user-profile .img-area {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 2px solid rgba(92, 107, 192,1.0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile .name {
  font-size: 164%;
  font-weight: 700;
  color: #31344b;
  margin: 10px 0 5px 0;
}

.user-profile .about {
  color: #44476a;
  font-weight: 400;
  font-size: 100%;
}
/* image card component */
.card {
  --blur: 16px;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  transition: transform 0.2s;
}

.card__footer {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  gap: 0.5ch;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(var(--blur));
  height: 30%;
  align-content: center;
}

.card__footer span:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
}

.card:is(:hover, :focus-visible) {
  --hover: 1;
}

/* error_page */
.error_page {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.error_page img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_err {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_error {
  margin-top: -50px;
}