<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses | Confirm</title>
    {{ template "css" }}
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        {{ template "sidebar" }}
        <div id="content" class="p-4 p-md-3">
            <nav class="navbar navbar-expand-lg mb-3">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <h2 class="mx-2">Expenses Confirm</h2>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                </div> 
            </nav>
            <form class="create-from" action="/dashboard/expenses/submit" method="post">
                {{ if .ID }}
                <input type="hidden" id="exp_id" name="exp_id" value="{{.ID}}" />
                {{ end }}
                <input type="hidden" id="user_id" name="user_id" value="{{.UserID}}" />
                <div class="mb-3 required">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{.Title}}"  readonly />
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea class="form-control" id="desc" name="desc" rows="3" readonly >{{.Description}}</textarea>
                </div>
                <div class="mb-3 required">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount" value="{{.Amount}}" readonly >
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example" name="category" >
                        <option value="{{.CateID}}" selected >{{.CateID}}</option>
                    </select>
                    {{ if not .CateID }}<small class="text-danger">Please choose correct category</small>{{end}}
                </div>
                <div class="mb-3">
                    <label for="date">Date:</label>
                    <input type="text" class="form-control" id="dateconfirm" name="date" value="{{.Date}}"/>
                    <small class="text-danger" id="date-err"></small>
                </div>
                
                <div class="btn-group mt-5">
                    <button type="button" class="btn btn-secondary me-2" onclick="window.history.back()" id="backBtn">Back</button>
                    <input type="submit" class="btn btn-primary" value="Submit" id="submit-btn" {{ if not .CateID }} disabled {{end}} >
                </div>
            </form>
        </div>
    </div>
    {{ template "js" }}
    <script>
        flatpickr("#dateconfirm", {
            readOnly: true,
        });

        // check validation and show error message for Date
        const submitBtn = document.getElementById('submit-btn');
        const errMsg = document.getElementById('date-err');

        const date = Date.parse(document.getElementById("dateconfirm").value);
        const invalidDate = Date.parse('0001-01-01');
        const dateErr = date == invalidDate ? true : false;

        if (dateErr) {
            submitBtn.setAttribute('disabled','');
            errMsg.innerText = 'Please choose correct date';
        } else {
            submitBtn.removeAttribute('disabled');
            errMsg.innerText = '';
        }

    </script>
</body>
</html>
