<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ . }}</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/lib/dataTables.bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
    <div class="container auth-container mt-5">
      <div class="registration form">
        <header>{{ . }}</header>
        <form action="#">
          <input type="text" placeholder="Enter your email">
          <input type="password" placeholder="Create a password">
          <input type="password" placeholder="Confirm your password">
          <input type="button" class="button" value="Signup">
        </form>
        <div class="signup">
            <span class="signup">Already have an account?
                <a href="/">Login</a>
            </span>
        </div>
      </div>
    </div>
</body>
</html>